<div class="owner" *ngIf="!loading">
  <h2>{{ contact?.name }}</h2>
  <span class="tag">{{ contact?.tag }} {{ prod ? '@prod' : '@dev' }}</span>
  <hr>
  <ul class="social">
    <li>
      <a [routerLink]="[ '../']">
        <img src="assets/img/home.svg" alt="Home">
      </a>
    </li>
    <li>
      <a [href]="contact?.github" target="_blank">
        <img src="assets/img/github.svg" alt="GitHub">
      </a>
    </li>
    <li>
      <a [href]="contact?.gitlab" target="_blank">
        <img src="assets/img/gitlab.svg" alt="GitLab">
      </a>
    </li>
  </ul>
</div>
<div class="loading" *ngIf="loading">
  <img src="assets/img/spinner.svg" alt="Loading">
</div>
