body {
  font-family: "Roboto", sans-serif;
  background-color: #B52E31;
}

.color-amber {
  color: #ffc107;
}   

.main-div {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.main-container {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.logo > img {
  max-width: 270px;
  height: auto;
  margin-top: 10px;
}

.logo > h3 {
    display: block;
    color: #000000;
    font-size: 1.5rem;
    margin: 1em 0 .5em 0;
}

.logo > h1 {
    display: block;
    color: #B52E31;
    font-size: 6rem;
    margin: 0em 0 0em 0;
}

.logo > span {
    display: block;
    color: #7f8c8d;
    font-size: .85rem;
    margin: 1em 0 .5em 0;
}

.options {
    padding-top: 5em;
    width: 270px;
    display: block;
    font-size: 1rem !important;
}

.options > a {
    -webkit-transition: 0.7s; /* For Safari 3.1 to 6.0 */
    transition: 0.7s;
}

.options > a:link, .options >a:visited {
    background-color: transparent;
    color: #95a5a6;
    border-color: #95a5a6;
    border-style: solid;
    border-width: 1px;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: block;
}

.options > a:hover, .options > a:active {
    color: #E23237;
    border-color: #E23237;
}

.developers {
    padding-top: 1em;
    text-align: center;
    font-size: .80rem !important;
    color: #bdc3c7;
}

.developers > a, .developers > a:visited, .developers > a:active,
.developers > a:hover, .developers > a:focus {
    color: #B52E31;
    text-decoration: none;
}

.form > h3 {
    display: block;
    color: #000000;
    font-size: 1.5rem;
    margin: 0em 0 .5em 0;
}

.form > hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0 1em 0;
    padding: 0;
}

.form > span, .form > div > label {
    display: block;
    color: #7f8c8d;
    font-size: .85rem;
    margin: 0em 0 1.5em 0;
}

.form > div > label {
    margin: .5em 0 .2em 0;
}

.form > div > input, .form > div > select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

button, button:visited {
    margin-top: 1em;
    background-color: transparent;
    color: #27ae60;
    border-color: #27ae60;
    border-style: solid;
    border-width: 1px;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 1rem;
}

button:hover, button:active {
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: #27ae60;
}

button {
    -webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
    transition: 1s;
}