@charset "UTF-8";
@import "../../../styles.scss";

a {
  display: block;
  width: fit-content;
  padding: .5em 5em;
  margin: 1em auto;
  text-decoration: none;
  color: white;
  background: $primary;
  border: 1px solid darken($primary, 5);
  border-radius: 25px;
  transition: ease-in-out .3s background;

  &:hover {
    background: darken($primary, 5);
  }

  &.about {
    padding: 0;
    margin: 1.5em auto;
    color: gray;
    background: white;
    border: none;
    border-radius: unset;
    transition: ease-in-out 0.3s color;
    font-size: smaller;

    &:hover {
      color: $primary;
    }
  }
}
