.extra-margin-top {
  margin-top: 3em;
}

h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 1em;
}

.add-item {
  position: relative;
  padding-bottom: 0px;
  height: 30px;
  margin-bottom: 2em;
}

.add-text {
  width: 85%;
  padding: 5px;
  font-size: unset;
  float: left;
  margin-right: 13px;
  border: none;
  border-bottom: 1px solid #bdc3c7;
}

.add-item button {
  height: 27px;
  width: 27px;
  padding: 1px;
  border: none;
  color: #16a085;
}

.add-item button:hover,
.add-item button:focus {
  color: #1abc9c;
  background-color: white;
}

ul {
  text-align: left;
  list-style: none;
  color: black;
  margin-left: -40px;
  margin-bottom: 0px;
}

li {
  border-bottom: 1px solid #B52E31;
  padding: 10px 0px 10px 10px;
  margin-bottom: 10px;
}

span {
  cursor: pointer;
  position: relative;
  float: right;
  margin-right: 10px;
  color: #B52E31;
}
