<div>
  <h2>Base Converters</h2>
  <form [formGroup]="converterForm" (ngSubmit)="onSubmit(converterForm.value)">
    <input type="text" name="decimal" placeholder="Decimal" formControlName="decimal" (ngModelChange)="valueChanged(oldValue, newValue = $event, 'DECIMAL')"/>
    <input type="text" name="bianry" placeholder="Binary" formControlName="binary" (ngModelChange)="valueChanged(oldValue, newValue = $event, 'BINARY')"/>
    <input type="text" name="octal" placeholder="Octal" formControlName="octal" (ngModelChange)="valueChanged(oldValue, newValue = $event, 'OCTAL')"/>
    <input type="text" name="hexadecimal" placeholder="Hexadecimal" formControlName="hexadecimal" (ngModelChange)="valueChanged(oldValue, newValue = $event, 'HEXADECIMAL')"/>
    <input type="submit" value="submit" />
  </form>
</div>
